.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.profileImage {
  border-radius: 50%;
  object-fit: cover;
}

.profileDescription {
  max-width: 600px;
}

.profileDescription h1 {
  margin: 0 0 10px;
  color: #555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profileDescription h2 {
  margin: 0 0 10px;
  font-size: 24px;
  color: #333;
}

.profileDescription p {
  margin: 0;
  font-size: 22px;
  color: #555;
}

.profileImageContainer {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.profileTyper {
  color: #2b28ec;
}

.heading {
  font-size: 30px;
  text-align: center;
  color: #555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fancy-line {
  border-top: 2px solid #06288f;
  border-top: 2px linear-gradient(to right, #200f90, #0d2c87) solid; 
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
  margin: 0 auto; 
  width: 50%;
}

.educationContainer {
  padding: 20px;
  text-align: center;
  align-items: center;
}

.unorderedList {
  list-style-type: none;
  display: inline-block;
  text-align: left;
}

.unorderedList li{
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #555;
}

.contactContainer {
  padding: 20px;
  text-align: center;
  align-items: center;
}



